[Desktop Entry]
Version=1.0
Name=Gridcoin
GenericName=Cryptocurrency rewarding BOINC computation
GenericName[de]=Kryptowährung, die BOINC-Berechnung belohnt
Comment=Earn Gridcoins by participating in the BOINC distributed computing network
Comment[de]=Gridcoins für Teilnahme am verteilten Rechnennetzwerk BOINC verdienen
Categories=Office;Finance;P2P;Network;Qt;
Keywords=crypto;cryptocurrency;cryptocoin;bitcoin;altcoin;boinc;
Exec=gridcoinresearch %u
Terminal=false
Type=Application
Icon=gridcoinresearch
MimeType=x-scheme-handler/gridcoin;
StartupWMClass=Gridcoin-Qt
