---
language: cpp
sudo: required
dist: trusty

os:
  - linux
  - osx

addons:
  apt:
    packages:
    - libboost-filesystem-dev
    - libboost-program-options-dev
    - libboost-system-dev
    - libboost-thread-dev
    - libboost-test-dev
    - build-essential
    - libssl-dev
    - libdb-dev
    - libdb++-dev
    - libqrencode-dev
    - qt5-default
    - qt5-qmake
    - qttools5-dev-tools
    - libminiupnpc-dev
    - libzip-dev
    - autoconf
    - automake

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install boost pkg-config berkeley-db@4 leveldb miniupnpc libzip qrencode qt || true ; fi

script:
  - ./autogen.sh
  - mkdir build
  - cd build
  - ../configure --with-gui=qt5 --with-incompatible-bdb
  - make
  - ./src/test/test_gridcoin
