<?xml version="1.0"?>
<configuration>




    <appSettings>
      <!-- Set the credentials for your Microsoft SQL Server Here -->
      <add key="DatabaseHost" value="grid10,1433" />
      <add key="DatabaseName"  value="gridcoinsql"/>
      <add key="DatabaseUser" value="gridcoinsql" />
      <add key="DatabasePass" value="gridcoinsql" />
      <!-- Set the credentials for your gridcoind rpc here -->
      <add key="AdminUser" value="grid" />
      <add key="AdminPassword" value="reserved" />
      <!-- Set the key for the Pool Web Username that is the Admin -->
      <add key="smtpuser" value="gridcoin" />
      <add key="smtpport" value="587" />
      <add key="smtpserver" value="smtp.mail.yahoo.com" />
      <add key="smtppassword" value="reserved" />
      <add key="smtpreplytoname" value="Gridcoin SQL Server" />
      <add key="smtpreplytoemail" value="contact@gridcoin.us" />
    </appSettings>
  
    
  
  
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
